doctype html 
html 
    head
        title Home
    
        block styles
            link(href='/static/css/style.css', rel='stylesheet')
        block scripts
            script(src='/static/js/index.js')
    body
        h1 Linux geek
        img(src='/static/images/cover.png' alt='Cover Image')
